
<ion-list>
    <ion-item-sliding #slidingItem>
      <ion-item  #item (click)="open(slidingItem, item)">
            <ion-label>{{name}}</ion-label>
            <ion-select [(ngModel)]="selected" [compareWith]="compareFn">
              <ion-option *ngFor="let element of list"  [value]="element">{{element.displayName}}</ion-option>
            </ion-select>

      </ion-item>
      <ion-item-options side="right">
        <button *ngIf="canAdd" ion-button color="primary" (click)="go()">
          <ion-icon name="add" ></ion-icon>
          Add
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
